/* .image-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    'one '
    'two'
    'three'
    'four';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}
.image-grid:nth-child(1) {
  grid-area: one;
}
.image-grid:nth-child(2) {
  grid-area: two;
}
.image-grid:nth-child(3) {
  grid-area: three;
}
.image-grid:nth-child(4) {
  grid-area: four;
  margin-top: -90%;
}

@media (min-width: 30em) {
  .image-grid {
    grid-template-areas:
      'one two'
      'three four';
  }
} */
